body {
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
}

p {
  line-height: 1.5;
}

header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: white;
}

nav {
  display: none;
  height: 40vh;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  padding: 10% 15% 10% 15%;
}

.nav-icon {
  margin: 5% 3% 5% 3%;
}

.nav-icon > i {
  color: black;
  font-size: 1.8em;
}

main {
  padding: 15% 0;
}

.main-container {
  padding: 0 5% 5% 5%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.country-container {
  align-items: center;
  justify-content: center;
}

.sorters-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
