body {
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

p,
h3 {
  line-height: 1.5;
}

p{font-size: 1em;}

h1,
h2,
h3,
h4 {
  font-family: "Work Sans", sans-serif;
}

hr {
  border: 1px solid grey;
  width: 90%;
  margin-top: 3em;
}

.shadow {
  background-color: lavender;
  border-radius: 15px;
  box-shadow: -10px -10px 10px 0 rgba(255, 255, 255, 0.35),
    -4px -4px 4px 0 rgba(255, 255, 255, 0.45),
    10px 10px 10px 0 rgba(0, 0, 0, 0.2), 4px 4px 4px 0 rgba(0, 0, 0, 0.3);
  outline: transparent;
}

header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: white;
}

nav {
  display: none;
  height: 40vh;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  padding: 10% 15% 10% 15%;
}

.nav-icon {
  margin: 5% 3% 5% 3%;
}

.nav-icon > i {
  color: black;
  font-size: 1.8em;
}

main {
  padding: 15% 0;
}

.main-container {
  padding: 0 5% 5% 5%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.country-container {
  align-items: center;
  justify-content: center;
}

.country {
  width: 80px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.country:focus {
  box-shadow: inset -8px -8px 8px 0 rgba(0, 0, 0, 0.3),
    inset 7px 7px 7px 0 rgba(255, 255, 255, 0.5);
}

#selects {
  height: 30px;
  padding: 0 15px;
  border: 0;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

.sort {
  margin-bottom: 10%;
  align-items: center;
}

.sorters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.order {
  width: 20px;
  height: 20px;
  appearance: none;
}
.order:focus {
  box-shadow: inset -5px -5px 5px 0 rgba(0, 0, 0, 0.3),
    inset 4px 4px 4px 0 rgba(255, 255, 255, 0.5);
}

#table-year-data{
  display: grid;
  justify-items: center;
  height: 80vh;
}

#table-indicators{
  overflow-y: auto;
}

tbody, tfoot{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  padding: 4% 0;
}

tr{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  width: 100%;
  justify-items: center;
  height: 35px;
}

#foot{
  grid-template-columns: 100%;
}

@media (min-width: 1200px) {
  .nav-icon {
    margin: 2% 3%;
  }

  main {
    padding: 10% 0;
  }

  .main-container {
    padding: 0 20% 5% 20%;
  }

  .country {
    width: 100px;
    height: 70px;
  }
}
