/* 
--------------------------
----ESTILOS GENERALES-----
-------------------------*/
@import url('https://fonts.googleapis.com/css?family=Special+Elite');   
*{
   padding: 0vw;
   margin:0vw;
   font-family: 'Special Elite', cursive;
   background-repeat: no-repeat;
   background-size: 100%;
   display: inline-block;
   
}
/* 
--------------------------
------ESTILOS MOBIL------
-------------------------*/

@media only screen and (max-width: 600px){
  title {
    color: transparent;
  }
  #regresar {
    background: transparent;
    border: 0;
    color: white;
    font-size: 100%;
    float: right;
    margin-top: 30%;
    margin-right: 12%;
}
#start {
  background-image: url(./start.png);
  height: -webkit-fill-available;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100vW;
 }
 #buttonContainer {
     display: inline-block;
     padding: 41vw;
     height: 59vw;
     width: 60vw;
     margin-top: 39vw;
     margin-left: 0vw;

 }
 #startPokemon  {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 4vw;
}
.boton-typeChart  {
  background-color: #0763db;
  border: none;
  padding: 2vw;
  margin: 1vw;
  font-size: 4vw;
}
 #options {
  background-image: url(./options.png);
  height: -webkit-fill-available;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100vw;
 }
 #optionsContainer {
  display: inline-block;
  height: 28vw;
  width: 70vw;
  margin-top: 70vw;
  margin-left: 18vw;
}

 #rootContainer {
  background-image: url(./result.png);
  height: -webkit-fill-available;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100vw;
 }

#nextContainer {
  display: inline-block;
  height: 57vw;
  width: 66vw;
}
#nextPage {
  margin-top: 46vw;
  margin-left: 42vw;
  background-color: transparent;
  font-size: 5vw;
  padding: 3vw;
  color: white;
  border: 0;
}
#root {
  overflow: auto;
  height: 85vw;
  width: 66vw;
  margin-top: 17vw;
  margin-left: 14vw;
}
#options, #rootContainer {
  display: none;
}
#ordenar{
  margin-top: 12%;
  float: right;
  margin-right: -36%;
  background: transparent;
  border: none;
  color: white;
  font-size: 102%;
}
#ordenarDesktop {
  display: none
}
}

/* 
--------------------------
------ESTILOS DESKTOP-----
-------------------------*/
@media only screen and (min-width: 601px) {
  body {
    background-image: url(./background.png);
     background-color: #2697FF;
     BACKGROUND-REPEAT: NO-REPEAT;
     BACKGROUND-SIZE: 80%;
     background-position: center;
}

#startPokemon {
  color: transparent;
  background-color: transparent;
  border: none;
}
.boton-typeChart {
  display: inline-block;
  background-color: #0763db;
  padding: 1%;
  font-size: 83%;
  margin: 1%;
  background-attachment: fixed;
}
.botonesInferiores{
 display: none;
  margin-top: 16%
}
#regresar{
  display:none;
}
#options {
  float: right;
  width: 45vw;
  height: 69vw;
  background-attachment: fixed;
}

#optionsContainer {
  width: 59%;
    height: 24%;
    margin-top: 74%;
    margin-left: 8%;
  background-attachment: fixed;
}
#rootContainer {
  float: left;
  width: 51vw;
  height: 68vw;
  background-attachment: fixed;
}
#root {
  overflow: auto;
  width: 24vw;
  height: 29vh;
  margin-top: 22vw;
  padding: 7%;
  margin-left: 26%;
}

#nextPage {
  background-color: transparent;
  color: transparent;
  border: 0;
}
head {
  color: transparent;
}
#charmander {
  background-image: url(./atrapalosya.png);
  width: 44%;
  display: inline-block;
  height: 15%;
  background-size: 101%;
  margin-top: 51%;
  margin-left: 33%;

}
.gif{
  background-image: url(./FeminineRemarkableChuckwalla-small.gif);
    width: 45%;
    height: 67%;
    /* display: inline-block; */
    float: inherit;
    margin-top: -16%;
    margin-left: 33%;
}
#ordenarDesktop {
  margin-top: 16%;
  margin-left: 29%;
}
}