.hide {
  display: none;
}

body {
  background-image: url('./images/Teselia_N2B2.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 70%;
}

h2 {
  color: white;
  font-size: 4em;
}


.btnPokemon {
  width: 24%;
  height: 350px;
}

#pokemones,
#filtered_out {
  padding-top: 10%;
  margin-left: 1.5%;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#btnStart {
  font-size: 4vmin
}

.divPokemon {
  text-align: center;
  margin: 1.5px;
  border-radius: 10px;
  color: white;
}

.details {
  color: white;
  font-size: 1.3em;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 15px;
}

.evolution {
  border-radius: 10px;
  background: rgba(128, 128, 128, 0.651);
}

.id {
  width: 23%;
}

.dataid {
  padding-left: 10px;
  width: 35%
}

.name {
  margin-top: 50px;
  border-radius: 25px;
  background-color: rgba(27, 27, 27, 0.9);
  font-size: 2em;
}

/* Estilos para las celdas de la tabla del modal */
.type {
  background: rgb(3, 95, 0);
}

.height {
  background: rgb(163, 87, 0)
}

.weigh {
  background: rgb(182, 0, 0);
}

.candy {
  background: rgb(0, 102, 170);
}

.candy_c {
  background: rgb(184, 184, 0);
}

.egg {
  background: rgb(0, 129, 101);
}

.spawn_t {
  background: rgb(81, 0, 148);
}

.weaknesses {
  background: rgb(134, 1, 63);
}

/* Terminan estilos de las celdas para la tabla del modal */

/*Fa: Estilos de la imagen de fondo de la pantalla de inicio*/
.wellcomeBackground {
  background-image: url("images/pokeball_wellcome.jpg");
  background-size: cover;
  height: 100vh;
}

/*Fa: Estilo para el logo de Pokemon de la pantalla de inicio*/
.widthLog {
  width: 50%;
  padding-top: 3%;
}

.widthButton {
  width: 15%;
}

.center {
  text-align: center;
}

.space {
  padding-top: 3%;
  padding-bottom: 2%;
}

/*Fa:Imagen de fondo de la pagina principal*/
.pokemonBackground {
  background-image: url("./images/Teselia_N2B2.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

.imgModal {
  width: 100%;
}

.bigModal {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  position: relative;
  background-image: url('./images/fondo_modal.png');
  /*Cambio de imagen*/
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.bigModal::after {
  content: "";
  background: black;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}



/*Fa:Tamaño para el logo de la pagina principal*/
.widthLogData {
  width: 15%;
}

.logfixed {
  width: 100%;
  position: fixed;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

nav.navbar {
  background-color: black;
  border: 0;
  min-height: 30px;
  font-size: 20px;
}

.dark {
  /*Estilo para el boton de pokebola del navbar*/
  background-color: black;
  border: 0;
}


/*Aqui comienzan los fondos de los tipos de pokemones-*/
.Water {
  background-color: rgba(0, 139, 253, 0.7);
  border: 10px solid rgba(0, 63, 114, 0.986);
}

.Fire {
  background-color: rgba(245, 0, 0, 0.7);
  border: 10px solid rgb(133, 0, 0);
}

.Grass {
  background-color: rgba(0, 248, 0, 0.7);
  border: 10px solid rgb(0, 71, 0);
}

.Bug {
  background-color: rgba(145, 255, 0, 0.7);
  border: 10px solid rgb(63, 110, 1);
}

.Normal {
  background-color: rgba(151, 124, 1, 0.7);
  border: 10px solid rgb(87, 71, 1);
}

.Poison {
  background-color: rgba(57, 0, 148, 0.7);
  border: 10px solid rgb(42, 0, 109);
}

.Electric {
  background-color: rgba(255, 255, 0, 0.7);
  border: 10px solid rgb(224, 224, 2);
}

.Ground {
  background-color: rgba(219, 106, 0, 0.7);
  border: 10px solid rgb(145, 70, 0);
}

.Fighting {
  background: -webkit-linear-gradient(left, rgba(98, 125, 77, 0.7) 0%, rgba(31, 59, 8, 0.7) 100%);
  border-top: 10px solid rgba(35, 53, 21, 0.822);
  border-right: 10px solid rgba(35, 53, 21, 0.822);
  border-bottom: 10px solid rgb(52, 71, 36);
  border-left: 10px solid rgb(52, 71, 36);
  border: 10px solid -webkit-linear-gradient(left, rgb(72, 94, 56) 0%, rgb(36, 68, 10) 100%);
}

.Psychic {
  background: -webkit-linear-gradient(left, rgba(52, 91, 247, 0.7) 0%, rgba(52, 91, 247, 0.7) 18%, rgba(145, 26, 204, 0.7) 30%, rgba(245, 12, 152, 0.7) 55%, rgba(117, 24, 240, 0.7) 77%, rgba(85, 0, 130, 0.7) 91%, rgba(85, 0, 130, 0.7) 100%);
  border-top: 10px solid rgb(63, 1, 97);
  border-right: 10px solid rgb(63, 1, 97);
  border-bottom: 10px solid rgb(31, 52, 136);
  border-left: 10px solid rgb(31, 52, 136);
}

.Rock {
  background-color: rgba(94, 94, 94, 0.7);
  border: 10px solid rgb(53, 53, 53);
}

.Ghost {
  background: -webkit-linear-gradient(left, rgba(6, 0, 179, 0.7) 0%, rgba(0, 8, 158, 0.7) 46%, rgba(3, 2, 51, 0.7) 74%, rgba(3, 2, 51, 0.7) 84%, rgba(3, 2, 51, 0.7) 100%);
}

/*Fa---Aquí comienzan los breakpoints*/
@media (max-width: 1024px) {
  h2 {
    color: white;
    font-size: 2em;
  }

  .imgModal {
    width: 100%;
  }

  .bigModal {
    width: 100%;
  }

  .details {
    color: white;
    font-size: 1.4em;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
  }

  .evolution {
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.651);

  }

  .id {
    width: 15%;
  }

  .dataid {
    width: 5%;
  }

  .wellcomeBackground {
    background-image: url(./images/pokeball_inicio_mobile.jpg);
    background-size: cover;
    height: 100vh;
  }

  img {
    size: auto;
  }

  .btnPokemon {
    width: 48%;
    height: 450px;
  }

  .widthLog {
    width: 52%;
    padding-top: 4%;
  }

  .widthButton {
    margin-top: 3%;
    width: 15%;
  }

  .name {
    border-radius: 25px;
    background-color: rgba(27, 27, 27, 0.9);
    font-size: 2em;
  }

  #pokemones,
  #filtered_out {
    padding-top: 12%;
  }

}

/* <----Cierre del @Media de 1024px*/


@media (max-width: 800px) {
  h2 {
    color: white;
    font-size: 2em;
  }

  .imgModal {
    width: 100%;
  }

  .bigModal {
    width: 108%;
  }

  .details {
    color: white;
    font-size: 1.4em;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
  }

  .evolution {
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.651);

  }

  .id {
    width: 15%;
  }

  .dataid {
    width: 5%;
  }

  .wellcomeBackground {
    background-image: url(./images/pokeball_mobile01.jpg);
    background-size: cover;
    height: 100vh;
  }

  .name {
    font-size: 1.5em;
  }

  .btnPokemon {
    width: 32%;
    height: 300px;
  }

  .widthLog {
    width: 70%;
    padding-top: 4%;
  }

  .widthButton {
    width: 20%;
    height: 80%;
  }

  #pokemones,
  #filtered_out {
    padding-top: 15%;
  }

}

/* <----Cierre del @Media de 800px*/

@media (max-width: 768px) {
  h2 {
    color: white;
    font-size: 2em;
  }

  .imgModal {
    width: 100%;
  }

  .bigModal {
    width: 108%;
  }

  .details {
    color: white;
    font-size: 1.4em;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
  }

  .evolution {
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.651);

  }

  .id {
    width: 15%;
  }

  .dataid {
    width: 5%;
  }

  .wellcomeBackground {
    background-image: url(./images/pokeball_inicio_mobile.jpg);
    background-size: cover;
    height: 100vh;
  }

  img {
    width: auto;
  }

  .btnPokemon {
    width: 32%;
    height: 230px;
  }

  .widthLog {
    width: 70%;
    padding-top: 6%;
  }

  .widthButton {
    width: 20%;
  }

  .name {
    font-size: 1em;
  }

  #pokehide {
    /*Creado para desaparecer "POKEMON" del NavBar*/
    display: none;
  }

  .navbar-collapse {
    text-align: center;
  }

  #pokemones,
  #filtered_out {
    padding-top: 18%;
  }

}

/* <----Cierre del @Media de 768px*/

@media (max-width: 640px) and (max-height: 360px) {
  h2 {
    color: white;
    font-size: 1.5em;
  }

  .imgModal {
    display: block;
    margin: auto;
    width: 100%;
  }

  th {
    width: 40%
  }

  .bigModal {
    width: 100%;
  }

  .details {
    color: white;
    font-size: 1em;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
  }

  .evolution {
    width: 100%;
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.651);
  }

  .id {
    width: 20%;
  }

  .dataid {
    width: 30%;
  }

  .wellcomeBackground {
    background-image: url(./images/pokeball_wellcome.jpg);
    background-size: cover;
    height: 100vh;
  }

  img {
    width: auto;
  }

  .btnPokemon {
    width: 32%;
    height: 200px;
  }

  .widthLog {
    width: 50%;
    padding-top: 4%;
  }

  .widthButton {
    width: 10%;
    margin: 0;
  }

  .name {
    margin-top: 20px;
    font-size: 1em;
  }

  #pokemones,
  #filtered_out {
    padding-top: 20%;
  }

  #iconBall {
    /* <----- Arregla la visualizacion del icono del navbar*/
    width: 40px;
  }

}

/* <----Cierre del @Media de 640 y 360px*/

@media (max-width: 640px) {

  /* <----- Arregla la visualizacion del icono del navbar*/
  #iconBall {
    width: 38px;
  }
}

@media (max-width: 480px) {
  h2 {
    color: white;
    font-size: 2em;
  }

  .imgModal {
    display: block;
    margin: auto;
    width: 100%;
  }

  .bigModal {
    width: 95%;
  }

  .details {
    color: white;
    font-size: 1em;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
  }

  .btnxsmall {
    width: 75px;
    height: 35px;
  }

  .btnxsmallPre {
    width: 85px;
    height: 35px;
  }

  .imgEv {
    width: 80%;
  }

  .btnxsmallEv {
    width: 100px;
  }

  .btnEv {
    font-size: 0.5em;
  }

  .btnEvPre {
    font-size: 0.5em;
  }

  .evolution {
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.651);

  }

  .id {
    width: 15%;
  }

  .dataid {

    width: 10%;
  }

  .wellcomeBackground {
    background-image: url(./images/pokeball_inicio_mobile.jpg);
    background-size: cover;
    height: 100vh;
  }

  img {
    width: 100%;
  }

  #pokemones,
  #filtered_out {
    /*Agregue*/
    padding-top: 17%;
  }

  .btnPokemon {
    width: 31%;
    height: 180px;
  }

  .widthLog {
    width: 70%;
    padding-top: 20%;
  }

  .widthButton {
    width: 20%;
  }

  .name {
    margin-top: 20px;
    border-radius: 25px;
    background-color: rgba(27, 27, 27, 0.9);
    font-size: 1em;
  }

  #pokemones,
  #filtered_out {
    padding-top: 28%;
  }

}

/* <----Cierre del @Media de 480px*/

@media (max-width: 384px) {
  h2 {
    color: white;
    font-size: 2em;
  }

  .imgModal {
    display: block;
    margin: auto;
    width: 100%;
  }

  .bigModal {
    width: 108%;
  }

  .details {
    color: white;
    font-size: 0.8em;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
  }

  .btnxsmall {
    width: 75px;
    height: 35px;
  }

  .btnxsmallPre {
    width: 85px;
    height: 35px;
  }

  .imgEv {
    width: 80%;
  }

  .btnxsmallEv {
    width: 100px;
  }

  .btnEv {
    font-size: 0.5em;
  }

  .btnEvPre {
    font-size: 0.5em;
  }

  .evolution {
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.651);

  }

  .id {
    width: 10%;
  }

  .dataid {
    width: 15%;
  }

  .wellcomeBackground {
    background-image: url(./images/pokeball_mobile01.jpg);
    background-size: cover;
    height: 100vh;
  }

  img {
    width: 80%;
  }

  #pokemones,
  #filtered_out {
    /*Agregue*/
    padding-top: 21%;
  }

  .btnPokemon {
    width: 48%;
    height: 230px;
  }

  .widthLog {
    width: 95%;
    padding-top: 10%;
  }

  .widthButton {
    width: 25%;
  }

  .name {
    border-radius: 25px;
    background-color: rgba(27, 27, 27, 0.9);
    font-size: 1em;
  }

  #pokemones,
  #filtered_out {
    padding-top: 34%;
  }

}

/* <----Cierre del @Media de 384px*/


@media (max-width: 320px) {
  h2 {
    color: white;
    font-size: 1.5em;
  }

  .imgModal {
    display: block;
    margin: auto;
    width: 100%;
  }

  .modal-padd {
    padding: 3px;
  }

  .bigModal {
    width: 99%;
  }

  .details {
    color: white;
    font-size: 9px;
  }

  .btnxsmall {
    width: 55px;
    height: 25px;
  }

  .btnxsmallPre {
    width: 75px;
    height: 25px;
  }

  .imgEv {
    width: 60%;
  }

  .btnxsmallEv {
    width: 83px;
  }

  .btnEv {
    font-size: 0.7em;
  }

  .btnEvPre {
    font-size: 0.7em;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
  }

  .evolution {
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.651);

  }

  .id {
    width: 5%;
  }

  .dataid {
    padding: 0;
    width: 5%;
  }

  .wellcomeBackground {
    background-image: url(./images/pokeball_mobile01.jpg);
    background-size: cover;
    height: 100vh;
  }

  img {
    width: 80%;
  }

  #pokemones,
  #filtered_out {
    /*Agregue*/
    padding-top: 23%;
  }

  .btnPokemon {
    width: 47%;
    height: 170px;
  }

  .widthLog {
    width: 95%;
    padding-top: 25%;
  }

  .widthButton {
    size: auto;
    width: 30%;
  }

  .name {
    border-radius: 25px;
    background-color: rgba(27, 27, 27, 0.9);
    font-size: 1em;
  }

  #pokemones,
  #filtered_out {
    padding-top: 40%;
  }

}

/* <----Cierre del @Media de 320px*/
