*{
    margin: 0;
}
#pantalla-uno{
    background-image: url("https://i.pinimg.com/originals/ab/1e/82/ab1e8231b32f4b88b4a9c96532b95749.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
.boton-inicio{
    margin: 0 auto;
    margin-top: 100px;
    display: block;
    height: 100px;
    width: 200px;
    background-color: red;
}