body {
  margin: 0%;
  border: 0%;
  font-family: 'Lato', sans-serif;
}

/*Grids*/

.container1 {
  display: grid;
  max-width: 1280px;
  width: 100%;
  height: 120vh;
  grid-template-columns: 1fr;
  grid-template-rows: 70% 30%;
}

.carousel {
  grid-row: 1/2;
}

.welcome {
  grid-row: 2/3;
  padding: 0 5% 0 5%;
  align-content: center;
  text-align: justify;
  line-height: 1.5em;
}

.container2 {
  display: grid;
  max-width: 1280px;
  width: 100%;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
}

.selection {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 0 5% 0 5%;
}

.buttons {
  grid-column: 3/4;
  grid-row: 1/2;
  padding: 0 5% 0 5%;
}

.table {
  grid-column: 2/4;
  grid-row: 2/3;
  padding-top: 8%;
  justify-self: center;
  text-align: center;
}

.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  justify-items: center;
}

.mex {
  grid-column: 1/2;
}

.chl {
  grid-column: 2/3;
}

.bra {
  grid-column: 3/4;
}

.per {
  grid-column: 4/5;
}


.container4 {
  display: grid;
  max-width: 1280px;
  width: 100%;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  align-items: center;
}

.gender {
  grid-column: 2/4;
  align-content: center;
  padding: 0 5% 0 5%;
  text-align: justify;
  line-height: 1.5em;
}

/*Generals*/

nav {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.hipatia-nav {
  overflow: hidden;
  background-color: #94618e;
}

.hipatia-nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.hipatia-nav .icon {
  display: none;
}

.mySlides {
  width: 100%;
  max-height: 100%;
}

.carousel>img {
  width: 100vw;
}

#selects {
  width: 100%;
  border-radius: 5px;
  background-color: #D8BFD8;
}

button {
  background-color: white;
  border-radius: 7px;
}


td {
  width:10%;
}

th {
  height: 50px;
}

table, td, th{
  border: 1px solid black;
  border-collapse: collapse;
}

.results {
  padding: 0 8% 0 8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
}

.results>button {
  background-color: #D8BFD8;
  border: transparent;
  font-size: medium;
  font-weight: bold;
}


/*Text*/
h4 {
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

label {
  font-weight: bold;
  font-size: large;
}


/*Media queries*/
@media screen and (max-width:480px) {
  body {
    font-size: small;
  }

  .container1 {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
  }

  .table {
    grid-column: 2/4;
    grid-row: 3/4;
    padding-top: 8%;
    text-align: center;
  }

  label{
    font-size: smaller;
  }
}

@media screen and (max-width: 600px) {
  .hipatia-nav a:not(:first-child) {
    display: none;
  }

  .hipatia-nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .hipatia-nav.responsive {
    position: relative;
  }

  .hipatia-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .hipatia-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .container1 {
    display: grid;
    width: 100%;
    height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
  }

  .container2 {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-auto-rows: minmax(100px, 100px, auto);
    align-items: center;
  }

  .selection {
    grid-column: 2/4;
    grid-row: 1/2;
    padding: 0 5% 0 5%;
  }

  .buttons {
    grid-column: 2/4;
    grid-row: 2/3;
    padding: 0 5% 0 5%;
  }

  .table {
    grid-column: 2/4;
    grid-row: 3/4;
    padding-top: 8%;
    text-align: center;
  }

  .container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
  }

  .mex {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
  }

  .chl {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
  }

  .bra {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
  }

  .per {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
  }

  label {
    font-weight: bold;
    font-size: medium;
  }
}

@media screen and (max-width:961px) {
  .table {
    grid-column: 2/4;
    grid-row: 3/4;
    padding-top: 8%; 
    text-align: center;
  }

  .container1 {
    display: grid;
    width: 100%;
    height: 70vh;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
  }
}
