nav {
  display: block;
}


header {
  background: white;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  top: 0;
  left: 0;
}

figure {
  margin: 0%;
  display: inline-block;
}

#menu {
  width: 10%;
  height: auto;
  vertical-align: top;
  padding: 2%;
  padding-top: 9%;
  float: right;
  margin: 0%;
}

.logo {
  width: 15%;
  height: auto;
  padding: 3%;
}

.sidebar {
  position: absolute;
  width: 200px;
  height: 100vh;
  top: 0;
  right: -205px;
  padding-top: 47px;
  background-color: rgba(29, 33, 32, 1);
  border-left: 4px solid rgb(235, 0, 139);
  transition: all .5s ease;
}

.menu_list {
  list-style: none;
  font-family: sans-serif;
}

.nav__item {
  display: block;
  width: 70%;
  margin: 0 auto;
  line-height: 4;
  position: relative; /*Le damos una posición relativa para posteriormente añadirle el triangulo que indica que se está en la página actual del menú*/
  border-bottom: .5px solid rgba(59, 62, 61, 1);
  border-top: .5px solid rgba(59, 62, 61, 1);
  background-color: transparent;
  color: rgba(221, 231, 228, 1);
}

.menu-toogle {
  position: absolute;
  /*Lo posicionamos absolutamente para poder darle una posición y poder moverlo según el menú esté abierto o cerrado*/
  line-height: 1.1;
  text-align: center;
  top: 6.5px;
  /*Le damos una posición top y left en donde queramos que se encuentre la hamburguesa del menú*/
  right: 8px;
  border-radius: 3px;
  background-color: transparent;
  transition: all .5s ease;
  /*Añadimos una transición para que realice un desplazamineto suave*/
  z-index: 10;
}

.menu-toogle::before {
  content: "☰";
 font-size: 33px;
 color: #eb008b;
 }

.checkbox {
  float: right;
  display: none;
  /*Ocultamos el checkbox pues no nos interesa que se vea*/
}

  .menu-toogle::before {
    content: "☰";
   font-size: 33px;
   color: #eb008b;
   }

.tableData{
  height: auto;
  width: 100%;
  margin-block-start: 3%;
  margin-block-end: 3%;

}
   td, th {
    border: 1px solid #ffffff;
    background: black;
    color: aliceblue;
    text-align: center;
    font-family: sans-serif;
    padding: 2%;
    width: 1%;
   }

   th{
     color: #eb008b;
   }

   .checkbox {
     float: right;
      display: none;/*Ocultamos el checkbox pues no nos interesa que se vea*/
   }
   .checkbox:checked ~ .sidebar {
     right:0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
     position:fixed; /* Fijamos el menú lateral para que se desplace cuando hagamos scroll*/
   }
   .checkbox:checked ~ .main-w {
     margin-right:200px; /*Cuando el checkbox asigna un margen al contenedor principal para que se desplace junto con el menú*/
   }
   .checkbox:checked ~ .menu-toogle {
     right:208px;
     position:fixed; /*Fijamos la hamburgues para que se desplace junto con el menú*/
   }

.checkbox:checked~.main-w {
  margin-right: 200px;
  /*Cuando el checkbox asigna un margen al contenedor principal para que se desplace junto con el menú*/
}

.checkbox:checked~.menu-toogle {
  right: 208px;
  position: fixed;
  /*Fijamos la hamburgues para que se desplace junto con el menú*/
}

.info {
  background-color: #eb008b;
  width: auto;
  height: 100%;
  margin-block-end: 0%;
  margin-block-start: 10%;
  color: white;
  text-align: justify;
  font-family: sans-serif;
  padding: 7%;
  font-kerning: none;
}

.button1{
  text-align: center;
  background: #231f20;
  width: 50%;
  height: auto;
  border-radius: 4%;
  padding: 5%;
}

#consulta{
  color: white;
  text-decoration: none;
  display: inline-block;
}

.button {
  margin: 5%;
  padding: 2%;
  text-align: center;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}


.total {
  background-color: #231f20;
  width: auto;
  height: 100%;
  padding: 5%;
  color: #eb008b;
  display: block;
}

h2 {
  color: white;
  font-family: sans-serif;
  text-align: center;
}

p {
  color: white;
  font-family: sans-serif;
  text-align: justify;
  padding: 10%;
  font-size: 14px;
  margin: 0;
}

#totalInjured {
  color: #eb008b;
  font-family: sans-serif;
  padding: 10px;
  font-size: 28px;
  text-align: center;
  margin: 0%;
}

.icon {
  display: inline-block;
  width: 35%;
  height: auto;
  padding: 7%;
}

.know {
  background-color: white;
  width: auto;
  height: 100%;
}

#knowMore {
  color: black;
  margin-top: 50px;
}

.image {
  display: block;
  width: 99%;
  height: auto;
  padding: 0.5%;
  padding-block-start: 7%;
}

.imagepeaton {
  display: block;
  width: 99%;
  height: auto;
  padding: 0.5%;
  }

.consulta  {
    text-align: center;
  }

.select {
  margin-top: 4%;
  padding: 2%;
  text-align: center;
}

.selector {
  border-radius: 10px;
  padding: 2%;
  background: #f2f1f0;
  border-color: transparent;
}

.consult {
  margin: 2%;
  text-align: center;
  margin-top: 1%;
  padding: 1%;
}

.result {
  text-align: center;
  font-family: sans-serif;
}

table{
  width: 50%;
  text-align: center;
  margin: 1% 1% 1% 10%;
}

.photos {
  background-color: #eb008b;
  width: auto;
  height: 100%;
  align-content: center;
  margin-block-start: 0%;
  vertical-align: bottom;
}

.question{
  padding: 5%;
}

footer {
  background-color: #231f20;
  width: auto;
  height: 100%;
  text-align: center;

}

#footer {
  font-size: 60%;
  text-align: center;
  vertical-align: bottom;
  padding-top: 8%;
}

.redes {
  width: 55%;
  height: auto;
  padding-top: 8%;
}

.final {
  width: 100%;
  vertical-align: bottom;
  margin-top: 8%;
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1380px) {

.logo{
  width: 4%;
  height: auto;
  padding: 1%;
  }

  .total {
    background-color: #231f20;
    width: auto;
    height: 100%;
    padding: 1%;
    color: #eb008b;
    display: block;
  }

  p {
    color: white;
    font-family: sans-serif;
    padding: 1%;
    font-size: 14px;
  }

  .icon {
    display: inline-block;
    width: 10%;
    padding: 5%;
    margin-left: 3%;
  }

  .select {
    margin: 3%;
    margin-top: 4%;
    padding: 1%;
    text-align: center;
  }

  .redes {

    width: 20%;
    height: auto;
    padding-top: 8%;
  }

  header{
    width: 100%;
    }

    h3{
      font-size: x-large;
    }

.button1{
  text-align: center;
    background: #231f20;
    width: 16%;
    height: auto;
    border-radius: 3%;
    padding: 3%;
}
#infoSecI{
  width: 25%;
}

#totalParraph{
  width: 42%;
  padding: 3%;
  margin: 1% 1% 1% 24%;
}

h2{
  font-size: -webkit-xxx-large;
}

.final{
  width: 47%;
  margin-top: 2%
}

.image{
  padding-block-start: 2%;
}

.imagepeaton{
  display: inline-block;
  width: 40%;
  margin-left: 30%;
}

.question{
  padding: 1%;
}

.image{
  display: inline-block;
  width: 32%;
}

}


@media (min-width: 1024px) and (max-width: 1380px) {

  header{
    width: 100%;
    }

  .logo {
    width: 10%;
    height: auto;
    padding: 1%
  }

.info{
  margin-block-start: 0%;
}

  .sidebar {
  right: -1557px;
  padding-top: 47px;
  }

.menu-toogle{
    top: 19px;
  }

  #infoSecI{
    font-size: 14px;
  display: inline-block;
  float: left;
  }

  #map{
    display: inline-block;
        width: 70%;
        height: auto;
        padding: 1.5%;
        padding-block-start: 3%
  }

p{
  padding: 0%;
}
  .image{
    display: inline-block;
    width: 32%;
  }

.map{
  display: inline-block;
text-align: center;
}
  .question{
    padding: 1%;
  }

}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 767px) and (max-width: 1024px) {

  header{
    width: 100%;
    }


  .logo {
    width: 8%;
    height: auto;
    padding: 3%;
  }

  .info{
    margin-block-start: 0%;
  }


  .icon {
    display: inline-block;
    width: 15%;
    height: auto;
    padding: 5%;
    margin-left: 3%;
  }

  .sidebar {
  right: -656px;
  padding-top: 47px;
  }

  .image{
    display: inline-block;
    width: 32%;
  }

}
/*

  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 300px) and (max-width: 767px) {

  header{
    width: 100%;
  }


  .logo {
    width: 10%;
    height: auto;
    padding: 3%;
  }


  .sidebar {
  right: -435px;
  padding-top: 47px;
  }


}
