@import "https://fonts.googleapis.com/css?family=Lato|Montserrat|Poppins|Roboto";
@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";

/************body*********/
article {
  width: 30%;
  display: table-cell;
}

body {
  background: url("images/usa.png") no-repeat center top fixed;
  background-size: 80%;
  opacity: 30%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
   font-size: 100%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  background: #112659;
  z-index: 3;
}

table {
  border-spacing: 5px;
}

/**********fonts***********/
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #FFAD09;
  font-size: 400%;
  text-align: center;
  margin-bottom: 0;
  margin-top: 3%;
  padding: 30px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: #037393;
  font-size: 200%;
  margin-top: 0;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: dimgrey;
  width: 55%;
  margin: 0%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}

p {
  font-family: 'Roboto';
 color: #fff;
 text-align: justify;
 width: 60%;
 margin-left: 13%;
}

/************** menu ********/
#burger-menu {
  display: none;
  position: fixed;
}

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px 10px 0 10px;
}

header label:hover {
  cursor: pointer;
  background: #037393;
}

.menu ul {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.menu li a {
  margin: 5px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.menu li:hover {
  background: #037393;
}

/**************** div  ***********************/
#realB {
  display: block;
  width: 100%;
  text-align: center;
}

#year_section {
  display: block;
  width: 100%;
  text-align: center;
}

.infoBody {
  background-color: #037393;
  opacity: 0.8;
  text-align: center;
}

.dataTable {
  font-family: 'Poppins', sans-serif;
   font-size: .5em;
  text-align: center;
}

.tableStructure {
  display: inline;
}

section.content {
  display: none;
}

/********** iconos*****/
.fa-walking, .fa-bicycle, .fa-motorcycle, .fa-bus, .fa-car, .datayear_button {
  color: white;
  width: 80px;
  height: 80px;
  padding: 4px;
  margin: 5px;
  font-size: 200%;
  border-radius: 70px;
  border-width: 8px;
  text-align: center;
  margin-bottom: 2%;
}

.fa-walking {
  background-color: rgb(18, 18, 134);
}

.fa-bicycle {
  background-color: orangered;
}

.fa-motorcycle {
  background-color: crimson;
}

.fa-bus {
  background-color: forestgreen;
}

.fa-car {
  background-color: darkmagenta;
}

.fa-facebook-f, .fa-twitter {
  font-size: 2em;
  padding: .5em;
}

/*year section styles*/
.year_button {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 1em;
  text-align: center;
  position: relative;
  width: 20em;
  height: 2em;
  line-height: 3;
  background: #112659;
  overflow: hidden;
  border-radius: .5em;
  margin-top: 2%;
}

.visualize_data_button {
  align-content: center;
  position: relative;
  font-size: .9em;
  padding: .5em;
  background-color: #F9B53C;
  font-family: 'Montserrat', sans-serif;
  border-radius: .5em;
  text-decoration: none;
  color: #fff;
  border-color: #F9B53C;
  height: 2em;
  padding: 0%;
}
.result_graphic {
 font-family: 'Montserrat', sans-serif;
 text-align: left;
 line-height: 200%;
 padding: 5%;
}
/**************************************************/
@media (max-width:768px){

  header label {
    display: block;
  }
  .menu {
    position: absolute;
    background: #112659;
    width: 70%;
    margin-left: -70%;
    transition: all .5s;
  }

  .menu ul {
    flex-direction: column;
  }

  #burger-menu:checked~.menu {
    margin: 0;
  }
  article {
    width: 30%;
    display: contents;
  }
  h1 {
    font-size: 230%;
  }

  h2{
    font-size: 150%;
  }
}
