.hide {
  display: none;
}

body {

  background: url(http://oi65.tinypic.com/nbdlr5.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: blue;
  background-position: center;
  background-size: 100% 100%;
  background-color: white;
}


h1 {
  color: #F7031D;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  /*  background: #000000;*/
  line-height: 50px;
  letter-spacing: 10px;
  /*word-spacing: 20px;*/
  text-shadow: #EED901 8px 8px 2px;
}


div {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

input {
  margin-bottom: 100px;
  width: 30%;
  padding: 10px;
  box-sizing: border-box;

}

button {

  margin-bottom: 171%;
  width: 12%;
  padding: 1%;
  box-sizing: border-box;

}



button[type="submit"] {
  margin-bottom: 0;
  background: #1668c4;
  color: #fff;
  border: none;

}

button[type="submit"]:hover {
  background: #4A88F4;
  cursor: pointer;
}

.topnav {
  overflow: hidden;
}




.topnav nav {
  width: 100%;
  outline: 1px;
  font-style: normal;
  font-size: 4em;



}

ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  background: #3498DB;
  display: flex;
}

li {
  padding: 10px 0px;
  /* float: left;*/
  color: #F4ECF7;
  text-decoration: none;
  width: 500px;
  display: inline-block;
  text-align: center;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  align-content: center;
  background-color: #3498DB;
  min-width: 245px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #154360
}

.dropdown:hover .dropdown-content {
  display: block;
}

a {
  text-decoration: none;
  color: #F4F6F7;
  display: block;
}

a:hover {
  background: #154360;
}

span {
  color: black;
  font-size: 2em;
}

main {

  color: #F4F6F7;
  display: block;

}
